In [2]:
# create a connection between mysql and python:

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "123456789",
        database = "phonepe"

    ) 
    if connection.is_connected():
        print("mysql coonection is SUCESSFUL!!!") 
    cursor = connection.cursor()
    print("Cursor Activated")
except Error as e:
    print("While connecting mysql ERROR!!!")

mysql coonection is SUCESSFUL!!!
Cursor Activated

In [ ]:
query = "use phonepe"
cursor.execute(query)

In [ ]:
# table alteration for columns :
query = "show tables"
cursor.execute(query)
for tb in cursor:
    print(tb)

In [ ]:
query = "SELECT DISTINCT States from agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
query = "SET SQL_SAFE_UPDATES = 0"
cursor.execute(query)

In [ ]:
query = "UPDATE agg_transaction SET States = 'Andaman & Nicobar' WHERE States = 'andaman-&-nicobar-islands'"
cursor.execute(query)

In [ ]:
query = "SELECT DISTINCT States FROM agg_transaction" 
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
query = "UPDATE agg_transaction SET States = 'Dadar Nagar Haveli' WHERE States = 'dadra-&-nagar-haveli-&-daman-&-diu'"
cursor.execute(query)

In [ ]:
query = "SELECT DISTINCT States FROM agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
query = "UPDATE agg_transaction SET States = CONCAT(UPPER(SUBSTRING(States,1,1)),LOWER(SUBSTRING(States,2,LENGTH(States))))"
cursor.execute(query)

In [ ]:
query = "SELECT DISTINCT States FROM agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
query = "SELECT * FROM agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
query = "SET SQL_SAFE_UPDATES = 1"
cursor.execute(query) 
connection.commit()

In [ ]:
query = "SET SQL_SAFE_UPDATES = 0"
cursor.execute(query)

In [ ]:
query = "UPDATE agg_transaction SET Transaction_amount = ROUND(Transaction_amount, 2)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "SELECT Transaction_amount FROM agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
# Getting an idea about tables format:
query = "describe agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
# Getting tables:
query = "SELECT * FROM agg_transaction"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
# save the alteration or modifies in the table:
query = "SET SQL_SAFE_UPDATES = 1"
cursor.execute(query)
connection.commit()

In [ ]:
query = "SELECT DISTINCT States FROM agg_user"
cursor.execute(query)
for data in cursor:
    print(data)

In [ ]:
#1. Decoding Transaction Dynamics on PhonePe

"""Scenario
PhonePe, a leading digital payments platform, has recently identified significant variations 
in transaction behavior across states, quarters, and payment categories. While some regions 
and transaction types demonstrate consistent growth, others show stagnation or decline. 
The leadership team seeks a deeper understanding of these patterns to drive targeted business strategies.
"""

In [ ]:
query = "SELECT States,SUM(Transaction_amount) AS Transaction_Amount FROM agg_transaction GROUP BY States ORDER BY Transaction_Amount" 
cursor.execute(query)


table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['States', 'Transaction_Amount'])
df

In [ ]:
query = "SELECT Years,SUM(Transaction_amount) FROM agg_transaction GROUP BY Years ORDER BY Years"
cursor.execute(query)
table = cursor.fetchall()
df2 = pd.DataFrame(table, columns = ['Years', 'Transaction_Amount']) 
df2

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px 
import matplotlib.pyplot as plt  # line represents average ,in bottom minimum tip,up line represents maximum tip


query = "SELECT States,SUM(Transaction_amount) AS Transaction_Amount FROM agg_transaction GROUP BY States ORDER BY Transaction_Amount" 
cursor.execute(query)


table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['States', 'Transaction_Amount'])
# df 
fig = px.bar(df,x='States',y='Transaction_Amount')
#plt.xticts(rotation = 90)
fig.show()

query = "SELECT States,SUM(Transaction_amount) AS Transaction_Amount FROM agg_transaction GROUP BY States" 
cursor.execute(query)


table = cursor.fetchall()
df1 = pd.DataFrame(table, columns = ['States', 'Transaction_Amount'])
df1 


fig = px.bar(df1,x='States',y='Transaction_Amount', title = 'States wise Transaction_Amount')
fig.show()

#fig = px.bar(df2,x='Years',y='Transaction_Amount', title = "Years Wise Transaction_Amount")

#fig.show()

query = "SELECT Quaters,SUM(Transaction_count) FROM agg_transaction GROUP BY Quaters"
cursor.execute(query)

table3 = cursor.fetchall()
#print(table2) 

df3 = pd.DataFrame(table3, columns = ['Quaters', 'Transaction_count'])
data = df3.groupby('Quaters')['Transaction_count'].sum().reset_index()
fig = px.pie(data, values = 'Transaction_count',names = 'Quaters', title = 'PIE Chart For Quaterwise')
fig.show() 

query = "SELECT States, SUM(Transaction_amount) AS Transaction_amount FROM agg_transaction GROUP BY States ORDER BY Transaction_amount DESC LIMIT 10 "
cursor.execute(query) 

table6 = cursor.fetchall()
df6 = pd.DataFrame(table6, columns = ['States', 'Transaction_amount']) 
fig = px.bar(df6,x='States',y='Transaction_amount',title = "Years Wise Transaction_Amount")

fig.show() 

# states wise transaction_count:
query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count" 
cursor.execute(query)


table = cursor.fetchall()
df7 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df7  

fig = px.bar(df7, x = 'States', y = 'Transaction_count', title = "States wise Transaction_Count" )
fig.show()


#  states lowest transaction_count:
query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count LIMIT 15" 
cursor.execute(query)


table = cursor.fetchall()
df7 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df7  

fig = px.bar(df7, x = 'States', y = 'Transaction_count', title = "TOP 15 States LOWEST Transaction_Count " )
fig.show() 

# top 10 states highest transaction_count:

query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count DESC LIMIT 10" 
cursor.execute(query)


table = cursor.fetchall()
df8 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df8  

fig = px.bar(df8, x = 'States', y = 'Transaction_count', title = "TOP 10 States wise Transaction_Count ", color_discrete_sequence = px.colors.sequential.Aggrnyl)
fig.show()

In [ ]:
query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count" 
cursor.execute(query)


table = cursor.fetchall()
df7 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df7  

fig = px.bar(df7, x = 'States', y = 'Transaction_count', title = "States wise Transaction_Count" )
fig.show()

In [ ]:
#  states lowest transaction_count:
query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count LIMIT 15" 
cursor.execute(query)


table = cursor.fetchall()
df7 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df7  

fig = px.bar(df7, x = 'States', y = 'Transaction_count', title = "LOWEST 15 States wise Transaction_Count " )
fig.show() 

# top 10 states highest transaction_count:

query = "SELECT States,SUM(Transaction_count) AS Transaction_count FROM agg_transaction GROUP BY States ORDER BY Transaction_count DESC LIMIT 10" 
cursor.execute(query)


table = cursor.fetchall()
df8 = pd.DataFrame(table, columns = ['States', 'Transaction_count'])
df8  

fig = px.bar(df8, x = 'States', y = 'Transaction_count', title = "TOP 10 States wise Transaction_Count ", color_discrete_sequence = px.colors.sequential.Aggrnyl)
fig.show()

In [ ]:
def year_s(year):
    data = year
    query = "SELECT States,Years,SUM(Transaction_count) AS Transaction_count FROM agg_transaction WHERE Years = %s GROUP BY States  ORDER BY Transaction_count" 
    cursor.execute(query,data)
    table = cursor.fetchall()

    df9 = pd.DataFrame(table, columns = ['States','Years', 'Transaction_count'])
    fig = px.bar(df9, x = 'States', y = 'Transaction_count' ,title = f" States wise Transaction : {data[0]}")
    fig.show()
    #return df9 
year_s([2019]) 
#df9 

#fig = px.bar(df9, x = 'States', y = 'Transaction_count' ,title = '2018')
#fig.show()

In [ ]:

d_dataframes = {
        'Agg_transaction': agg_transaction, 'Agg_insurance' : agg_insurance,
         'Map_transaction' : map_transaction, 'Map_insurance' : map_insurance,
         'Top_transaction': top_transaction, 'Top_insurance' : top_insurance 
         }

In [ ]:
option = agg_transaction['Years'].unique() 
print(option[0])

In [ ]:
def select_from_table_safe(table_name):
    # Validate the table name against a known list
    allowed_tables = ['agg_insurance', 'agg_transaction', 'agg_user']
    if table_name not in allowed_tables:
        raise ValueError(f"Invalid table name: {table_name}")

    # If valid, proceed with the formatted query
    query = f"SELECT * FROM {table_name}"
    # ... rest of your database logic ... 
    table = cursor.fetchall()
    print(table)

In [ ]:
table_name = 'agg_user'
query = f"SELECT * FROM {table_name}"
    # ... rest of your database logic ... 
cursor.execute(query)
table = cursor.fetchall()
print(table)

In [ ]:
agg_transaction['Transaction_type'].unique()

In [ ]:
query = "SELECT States,SUM(Register_users) AS Register_users FROM map_user GROUP BY States ORDER BY Register_users" 
cursor.execute(query) 
table21 = cursor.fetchall()
df21 = pd.DataFrame(table21, columns = ['States','Register_users'])
fig = px.bar(df21, x = 'States', y = 'Register_users', title = 'States wise Register_users')
fig.show()

In [ ]:
query = "SELECT Districts,SUM(Register_users) AS Register_users FROM map_user GROUP BY Districts ORDER BY Register_users DESC LIMIT 30" 
cursor.execute(query) 
table21 = cursor.fetchall()
df21 = pd.DataFrame(table21, columns = ['Districts','Register_users'])
fig = px.bar(df21, x = 'Districts', y = 'Register_users', title = 'Districts wise Register_users')
fig.show()

In [ ]:
# top 10 districts hightest register uesr: 

query = "SELECT Districts,SUM(Register_users) AS Register_users FROM map_user GROUP BY Districts ORDER BY Register_users DESC LIMIT 10"

cursor.execute(query) 
table23 = cursor.fetchall()
df23 = pd.DataFrame(table23, columns = ['Districts','Register_users'])
fig = px.bar(df23, x = 'Districts', y = 'Register_users', title = 'States wise Register_users' )
fig.show()

In [ ]:
query = "SELECT States,SUM(Register_users) AS Register_user,SUM(App_opens_users) AS App_opens_users FROM map_user GROUP BY States"
cursor.execute(query)
table24 = cursor.fetchall()
df24 = pd.DataFrame(table24, columns = ['States', 'Register_users', 'App_opens_users'])
fig = px.scatter(df24, x = 'Register_users', y = 'App_opens_users', color = 'States')
fig.show()

In [ ]:
# Appsnot_opens districts :

query = "SELECT States,COUNT(States) AS App_notopens_count FROM map_user WHERE App_opens_users = 0 GROUP BY States"
cursor.execute(query)
table25 = cursor.fetchall()
df25 = pd.DataFrame(table25, columns = ['States','App_notopens_count'])
fig = px.bar(df25, x = 'States', y = 'App_notopens_count')
fig.show()

In [ ]:
# YEARS WISE App_opens :
query = "SELECT Years,Quaters,SUM(App_opens_users) AS App_opens_users FROM map_user GROUP BY Years,Quaters ORDER BY Years,Quaters,App_opens_users"
cursor.execute(query) 
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['Years','Quaters','App_opens_users'])
fig = px.line(df, x = 'Years', y = 'App_opens_users', color = 'Quaters')
fig.show()

In [ ]:
# Apps_opens districts :

query = "SELECT States,COUNT(States) AS App_opens_count FROM map_user WHERE App_opens_users != 0 GROUP BY States"
cursor.execute(query)
table25 = cursor.fetchall()
df25 = pd.DataFrame(table25, columns = ['States','App_opens_count'])
fig = px.bar(df25, x = 'States', y = 'App_opens_count')
fig.show()

In [ ]:
#9. Insurance Transactions Analysis
#Scenario
"""
PhonePe aims to analyze insurance transactions to identify the top states, districts, and pin codes
 where the most insurance transactions occurred during a specific year-quarter combination. 
 This analysis will help in understanding user engagement in the insurance sector and informing strategic decisions.
""" 

# to identify, year wise 10 top states insurance analysis: 
# to identify ,year wise 10 top pincodes insurance analysis

In [ ]:
# top 10 pincodes tranaction_ampunt: 
import plotly.express as px
query = "SELECT Pincodes,SUM(Transaction_amount) AS Transaction_amount FROM top_insurance WHERE Years = 2020 GROUP BY Pincodes ORDER BY Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['Pincodes', 'Transaction_amount'])
fig = px.bar(df, x = 'Pincodes', y = 'Transaction_amount', title = "Top 10 pincodes 2020")
fig.show()

In [ ]:
# top 10 Districts tranaction_ampunt: 
import plotly.express as px
query = "SELECT Districts,SUM(Transaction_amount) AS Transaction_amount FROM map_insurance WHERE Years = 2020 GROUP BY Districts ORDER BY Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['Districts', 'Transaction_amount'])
fig = px.bar(df, x = 'Districts', y = 'Transaction_amount', title = "Top 10 Districts 2020")
fig.show()

In [ ]:
# top 10 States tranaction_ampunt: 
import plotly.express as px
query = "SELECT States,SUM(Transaction_amount) AS Transaction_amount FROM agg_insurance WHERE Years = 2020 GROUP BY States ORDER BY Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['States', 'Transaction_amount'])
fig = px.bar(df, x = 'States', y = 'Transaction_amount', title = "Top 10 States 2020")
fig.show()

In [ ]:
g = agg_insurance.groupby(['Years','Quaters'])['Transaction_amount'].sum()
print(g)

In [ ]:
query = "SELECT Years,Quaters,SUM(Transaction_amount) AS Transaction_amount FROM agg_insurance GROUP BY Years, Quaters ORDER BY Transaction_amount LIMIT 10"
cursor.execute(query) 
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['Years','Quaters','Transaction_amount'])
df

In [ ]:
Quaters_list = df['Quaters'].unique()
fig = px.bar(df, x = 'Years', y = 'Transaction_amount', color = 'Quaters' ,title ="stacked bar plot year and quater combinations")
fig.show()

In [ ]:
"""
9. Insurance Transactions Analysis:
Scenario
PhonePe aims to analyze insurance transactions to identify the top states, districts, and pin codes 
where the most insurance transactions occurred during a specific year-quarter combination. 
This analysis will help in understanding user engagement in the insurance sector and informing strategic decisions.
"""

In [ ]:
# Transaction_count Across States
query = "SELECT States, COUNT(Transaction_count) AS Transaction_count FROM map_insurance GROUP BY States ORDER BY Transaction_count DESC LIMIT 10" 
cursor.execute(query)
table1 = cursor.fetchall()
df1 = pd.DataFrame(table1, columns = ['States', 'Total_Transaction_count']) 
fig1 = px.bar(df1, x = 'States', y = 'Total_Transaction_count', title = " Transaction_count Across States", color_discrete_sequence = px.colors.sequential.Agsunset)
fig1.show()

In [ ]:
# Transaction_count Across Districts:
query = "SELECT Districts, COUNT(Transaction_count) AS Transaction_count FROM map_insurance GROUP BY Districts ORDER BY Transaction_count DESC LIMIT 10" 
cursor.execute(query)
table2 = cursor.fetchall()
df2 = pd.DataFrame(table2, columns = ['Districts', 'Total_Transaction_count']) 
fig2 = px.bar(df2, x = 'Districts', y = 'Total_Transaction_count', title = " Transaction_count Across Districts", color_discrete_sequence = px.colors.sequential.Aggrnyl)
fig2.show()

In [ ]:
# Transaction_count Across Pincodes:
query = "SELECT Pincodes, COUNT(Transaction_count) AS Transaction_count FROM top_insurance GROUP BY Pincodes ORDER BY Transaction_count DESC LIMIT 10" 
cursor.execute(query)
table3 = cursor.fetchall()
df3 = pd.DataFrame(table3, columns = ['Pincodes', 'Total_Transaction_count']) 
fig3 = px.histogram(df3, x = 'Pincodes', y = 'Total_Transaction_count', title = " Transaction_count Across Pincodes", color_discrete_sequence = px.colors.sequential.Blackbody_r)
fig3.show()

In [ ]:
# Most insurance Transaction combinations specific year and quaters:
query = "SELECT Years, Quaters, COUNT(Transaction_count) AS Transaction_count FROM agg_insurance WHERE Years = 2020 GROUP BY Quaters ORDER BY Quaters,Transaction_count DESC LIMIT 10" 
cursor.execute(query)
table4 = cursor.fetchall()
df4 = pd.DataFrame(table4, columns = ['Years', 'Quaters', 'Total_Transaction_count']) 
fig4 = px.pie(df4, values = 'Total_Transaction_count', names = 'Quaters', title = " Transaction_count Across Quaters 2021")
fig4.show()

In [ ]:
"""
8. User Registration Analysis
Scenario
PhonePe aims to conduct an analysis of user registration data to identify the top states, districts, and pin codes 
from which the most users registered during a specific year-quarter combination. 
This analysis will provide insights into user engagement patterns and highlight potential growth areas.
"""

In [ ]:
# Top Registration_users Across States
query = "SELECT States, COUNT(Register_users) AS Register_users FROM map_user GROUP BY States ORDER BY Register_users DESC LIMIT 10" 
cursor.execute(query)
table1 = cursor.fetchall()
df1 = pd.DataFrame(table1, columns = ['States', 'Total_Register_users']) 
fig1 = px.bar(df1, x = 'States', y = 'Total_Register_users', title = " Top Registration_users Across States", color_discrete_sequence = px.colors.sequential.Agsunset)
fig1.show()

In [ ]:
# Register_users Across Districts:
query = "SELECT Districts, SUM(Register_users) AS Register_users FROM map_user GROUP BY Districts ORDER BY Register_users DESC LIMIT 10" 
cursor.execute(query)
table2 = cursor.fetchall()
df2 = pd.DataFrame(table2, columns = ['Districts', 'Registeration_users']) 
fig2 = px.bar(df2, x = 'Districts', y = 'Registeration_users', title = " Register_users Across Districts", color_discrete_sequence = px.colors.sequential.Aggrnyl)
fig2.show()

In [ ]:
# Top States value and volume: 
query = "SELECT Districts,COUNT(Transaction_count) AS Transaction_count,SUM(Transaction_amount) AS Transaction_amount FROM map_transaction GROUP BY Districts ORDER BY Transaction_count,Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table1 = cursor.fetchall()
df1 = pd.DataFrame(table1, columns = ['Districts', 'Transaction_count', 'Transaction_amount'])
fig1 = px.scatter(df1, x = 'Transaction_amount' , y = 'Transaction_count', color = 'Districts')
fig1.show()

In [ ]:
# Top States value and volume: 
query = "SELECT States,COUNT(Transaction_count) AS Transaction_count,SUM(Transaction_amount) AS Transaction_amount FROM map_transaction GROUP BY States ORDER BY Transaction_count,Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table2 = cursor.fetchall()
df2 = pd.DataFrame(table2, columns = ['States', 'Transaction_count', 'Transaction_amount'])
fig2 = px.scatter(df2, x = 'Transaction_amount' , y = 'Transaction_count', color = 'States')
fig2.show()

In [ ]:
# Top Pincodes value and volume: 
query = "SELECT Pincodes,COUNT(Transaction_count) AS Transaction_count,SUM(Transaction_amount) AS Transaction_amount FROM top_transaction GROUP BY Pincodes ORDER BY Transaction_count,Transaction_amount DESC LIMIT 10"
cursor.execute(query)
table3 = cursor.fetchall()
df3 = pd.DataFrame(table3, columns = ['Pincodes', 'Transaction_count', 'Transaction_amount'])
fig3 = px.scatter(df3, x = 'Transaction_amount' , y = 'Transaction_count', color = 'Pincodes')
fig3.show()

In [ ]:
query = "SELECT States, Years, SUM(Transaction_amount) AS Transaction_amount FROM agg_transaction GROUP BY States,Years ORDER BY Transaction_amount"
cursor.execute(query)
table = cursor.fetchall()
df = pd.DataFrame(table, columns = ['States', 'Years', 'Transaction_amount'])
fig =px.line(df, y='Transaction_amount', x='Years', color ='States')
fig.show()

In [ ]:
query = """SELECT States,Quaters, SUM(Transaction_amount) AS Transaction_amount 
                        FROM agg_transaction 
                        GROUP BY States,Quaters 
                        ORDER BY Transaction_amount""" 
cursor.execute(query)
table = cursor.fetchall() 
df = pd.DataFrame(table, columns = ['States', 'Quaters', 'Transaction_amount'])
fig = px.line(df, x= 'States', y= 'Transaction_amount', color = 'Quaters')
fig.show()